<form [formGroup]="formGroup" [ngClass]="{'readMode': this.isInReadMode}">
  <h2 mat-dialog-title>New character</h2>
  <mat-dialog-content class="content">
    <mat-form-field class="fullWidth form-field-name" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" cdkFocusInitial>
      <mat-error *ngIf="formGroup.controls['name'].hasError('required')">You must enter a name.</mat-error>
    </mat-form-field>

    <app-chips-input label="Aliases"
                     [(values)]="aliases"
                     firstHint="If your character is known by any other names, you can add them here."
                     secondHint="Type enter after each alias to add it to the list."></app-chips-input>

    <mat-form-field class="fullWidth" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-hint>Add a description, bio, and other information about your character.</mat-hint>
    </mat-form-field>

    <app-chips-input label="Authors"
                     [(values)]="authors"
                     firstHint=""
                     secondHint="Type enter after each author to add it to the list."></app-chips-input>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <mat-spinner *ngIf="isSubmitting" diameter="25"></mat-spinner>
    <button *ngIf="isInReadMode" mat-flat-button mat-dialog-close>OK</button>
    <button *ngIf="!isInReadMode" mat-flat-button (click)="createCharacter()" [disabled]="!formGroup.valid || isSubmitting">OK</button>
    <button *ngIf="!isInReadMode" mat-flat-button mat-dialog-close [disabled]="isSubmitting">Cancel</button>
  </mat-dialog-actions>
  <!--<default-dialog-actions (submit)="onSubmit()" [isSubmitting]="isSubmitting" [formGroup]="formGroup"></default-dialog-actions>-->
</form>
