@import '../../../redyarn-theme.scss';

h1 {
  color: mat-color($redyarn-app-primary, 200);
  margin: 10px;
  position:absolute;
  top: 0;
  z-index: 1024;
  user-select:none;
}

.vis-network-container {
  height: 100%;
}
