
<h2 mat-dialog-title>Login</h2>
<mat-dialog-content class="content">
  <mat-form-field class="fullWidth">
    <input matInput placeholder="Username">
  </mat-form-field>
  <mat-form-field class="fullWidth">
    <input matInput placeholder="Password" type="password">
  </mat-form-field>
  <mat-checkbox class="fullWidth" formControlName="rememberMe">Remember me</mat-checkbox>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close>OK</button>
  <button mat-flat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
