<#@ include file="BaseTestGenerator.t4" #>
<# 
var unitUnderTestName = nameof(Author);
WriteBeginning(unitUnderTestName);
WriteToStringTests(unitUnderTestName);
WriteManyToManyTests(unitUnderTestName, nameof(Character), nameof(Author.Characters), nameof(Character.Authors));
WriteManyToManyTests(unitUnderTestName, nameof(Storyline), nameof(Author.Storylines), nameof(Storyline.Authors));
WriteEnd();
#>