<#@ include file="BaseTestGenerator.t4" #>
<# 
var unitUnderTestName = nameof(Character);
WriteBeginning(unitUnderTestName);
WriteToStringTests(unitUnderTestName);
WriteManyToManyTests(unitUnderTestName, nameof(Storyline), nameof(Character.Storylines), nameof(Storyline.Characters));
WriteManyToManyTests(unitUnderTestName, nameof(Author), nameof(Character.Authors), nameof(Author.Characters));
WriteManyToManyTests(unitUnderTestName, nameof(Tag), nameof(Character.Tags), nameof(Tag.Characters));
WriteManyToManyTests(unitUnderTestName, nameof(PlotElement), nameof(Character.OwnedPlotElements), nameof(PlotElement.OwningCharacters));
WriteManyToManyTests(unitUnderTestName, nameof(PlotElement), nameof(Character.NeededPlotElements), nameof(PlotElement.NeedingCharacters));
WriteEnd();
#>