<#@ include file="BaseTestGenerator.t4" #>
<# 
var unitUnderTestName = nameof(EssentialPlotElement);
WriteBeginning(unitUnderTestName);
WriteToStringTests(unitUnderTestName);
WriteManyToManyTests(unitUnderTestName, nameof(Storyline), nameof(EssentialPlotElement.Storylines), nameof(Storyline.EssentialPlotElements));
WriteManyToManyTests(unitUnderTestName, nameof(Character), nameof(EssentialPlotElement.OwningCharacters), nameof(Character.OwnedPlotElements));
WriteManyToManyTests(unitUnderTestName, nameof(Character), nameof(EssentialPlotElement.NeedingCharacters), nameof(Character.NeededPlotElements));
WriteEnd();
#>