<#@ include file="ManyToManyCollectionTestGenerator.t4" #>
<# 
var unitUnderTestName = nameof(Storyline);
WriteBeginning(unitUnderTestName);
WriteTests(unitUnderTestName, nameof(Character), nameof(Storyline.Characters), nameof(Character.Storylines));
WriteTests(unitUnderTestName, nameof(Author), nameof(Storyline.Authors), nameof(Author.Storylines));
WriteEnd();
#>