<#@ include file="BaseTestGenerator.t4" #>
<# 
var unitUnderTestName = nameof(Storyline);
WriteBeginning(unitUnderTestName);
WriteToStringTests(unitUnderTestName);
WriteManyToManyTests(unitUnderTestName, nameof(Character), nameof(Storyline.Characters), nameof(Character.Storylines));
WriteManyToManyTests(unitUnderTestName, nameof(Author), nameof(Storyline.Authors), nameof(Author.Storylines));
WriteManyToManyTests(unitUnderTestName, nameof(PlotElement), nameof(Storyline.PlotElements), nameof(PlotElement.Storylines));
WriteEnd();
#>