<#@ include file="BaseTestGenerator.t4" #>
<# 
var unitUnderTestName = nameof(Tag);
WriteBeginning(unitUnderTestName);
WriteToStringTests(unitUnderTestName);
WriteManyToManyTests(unitUnderTestName, nameof(Character), nameof(Tag.Characters), nameof(Character.Tags));
WriteEnd();
#>