@import '~@angular/material/theming';
@include mat-core();

$redyarn-app-primary: mat-palette($mat-indigo);
$redyarn-app-accent: mat-palette($mat-pink, A200, A100, A400);
$redyarn-app-warn: mat-palette($mat-red);

$redyarn-app-theme: mat-light-theme($redyarn-app-primary, $redyarn-app-accent, $redyarn-app-warn);

@include angular-material-theme($redyarn-app-theme);


