@import '~@angular/material/theming';
@import 'redyarn-theme.scss';

@include mat-core();
$redyarn-app-theme: mat-light-theme($redyarn-app-primary, $redyarn-app-accent, $redyarn-app-warn);
@include angular-material-theme($redyarn-app-theme);

mat-dialog-content {
  padding-bottom: 15px;
}

mat-form-field {
  padding-bottom: 8px;
}

mat-dialog-content mat-form-field {
  min-width: 350px;
}

mat-dialog-content textarea {
  min-height: 80px;
}

mat-dialog-actions .mat-flat-button {
  margin: 2px;
}

.fullWidth {
  width: 100%;
}

h1 {
  color: mat-color($redyarn-app-primary, 200);
  margin: 10px;
  user-select: none;
}

.readMode {
  h2 {
    display: none;
  }

  .mat-form-field-subscript-wrapper {
    display: none;
  }

  .form-field-name {
    input.mat-input-element {
      font-size: 24px;
      color: mat-color($redyarn-app-primary, 200);
    }
  }

  div.mat-form-field-outline {
    color: transparent;
  }

  .form-field-name label {
    opacity: 0;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  button[mat-dialog-close] {
    display:none;
  }

  /* If the form field is focused, we do want to show some of the ui: */
  .mat-focused {
    .mat-form-field-wrapper {
      padding-bottom: 1.34375em;
    }

    .mat-form-field-subscript-wrapper {
      display: block;
    }

    label {
      opacity: 1;
    }
  }
}

.headerLogo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
