<mat-list>
  <mat-list-item>
    <button mat-stroked-button (click)="onNewCharacterClick()">
      <img src="../../../assets/default-character-icon.png" />
      New character
    </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-stroked-button (click)="onNewStorylineClick()">
      <canvas appDrawable="book" width="40" height="35"></canvas>
      New storyline
    </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-stroked-button (click)="onNewPlotElementClick()">
      <canvas appDrawable="puzzlePiece" width="40" height="35"></canvas>
      New plot element
    </button>
  </mat-list-item>
</mat-list>
