@import '../../../redyarn-theme.scss';

mat-list {
  height: 100%;
}

mat-list button {
  color: mat-color($redyarn-app-primary, default-contrast);
  display: block;
  width: 100%;
  text-align: left;
}

mat-list button canvas {
  width: 40px;
  height: 30px;

}
