/*mat-sidenav-container {
  position: absolute;
  top: 128px;
  left: 0;
  right: 0;
  bottom: 0;
}


mat-sidenav {
  position: relative;
  height: 100%;
}


aside {
  position: absolute;
  height: 100%;
}*/

div {
  display:flex;
  position:absolute;
  top: 128px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

aside {
  height:100%;
}

section {
  flex-grow: 1;
}

app-main-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
