<mat-toolbar color="primary">
  <mat-toolbar-row class="rowOne">
    <header>
      <span>RedYarn</span>
      <span class="fill-remaining-space"></span>
      <button mat-button>Help</button>
      <button mat-flat-button (click)="openLoginDialog()" color="accent">Login</button>
    </header>
  </mat-toolbar-row>
   
  <mat-toolbar-row class="rowTwo">
    <nav>
      <button mat-button>New diagram</button>
      <button mat-button>My diagrams</button>
    </nav>
  </mat-toolbar-row>
  
</mat-toolbar>

