<#@ include file="$(SolutionDir)common.t4" #>
using Bas.RedYarn.WebApp.ViewModels;
using Bas.RedYarn.WebApp.Services;
using System;
using System.Collections.ObjectModel;
using System.Linq;
using System.Threading.Tasks;

namespace Bas.RedYarn.WebApp.Tests.Services
{
    sealed class TestDataService : IDataService
    {
<#
foreach (var viewModelName in viewModelNames)
{#>
		public Collection<<#=viewModelName#>> <#=Pluralize(viewModelName)#> { get; set; } = new Collection<<#=viewModelName#>>();
<#}
#>

<#
foreach (var viewModelName in viewModelNames)
{#>
        public Task<<#=viewModelName#>> Get<#=viewModelName#>Async(Guid id)
        {
            return Task.FromResult(<#=Pluralize(viewModelName)#>.SingleOrDefault(d => d.Id == id));
        }

        public Task<<#=viewModelName#>> Create<#=viewModelName#>Async(<# if (entitiesToAddToDiagram.Contains(GetModelName(viewModelName))) {#>Guid diagramId, <#}#><#=viewModelName#> <#=Decapitalize(viewModelName)#>)
        {
            <#=Decapitalize(viewModelName)#>.Id = Guid.NewGuid();
            <#=Pluralize(viewModelName)#>.Add(<#=Decapitalize(viewModelName)#>);

            return Task.FromResult(<#=Decapitalize(viewModelName)#>);
        }

        public Task<(<#=viewModelName#> result, bool isFound)> Update<#=viewModelName#>Async(Guid id, <#=viewModelName#> <#=Decapitalize(viewModelName)#>)
        {
            var existingViewModel = <#=Pluralize(viewModelName)#>.SingleOrDefault(d => d.Id == id);

			if (existingViewModel == null)
			{
				return Task.FromResult(((<#=viewModelName#>)null, false));
			}
						
            var indexOfViewModel = <#=Pluralize(viewModelName)#>.IndexOf(existingViewModel);
            existingViewModel = <#=Decapitalize(viewModelName)#>;
            existingViewModel.Id = id;
			<#=Pluralize(viewModelName)#>[indexOfViewModel] = existingViewModel;

            return Task.FromResult((existingViewModel, true));
        }

        public Task<bool> Delete<#=viewModelName#>Async(Guid id)
        {
            var existingViewModel = <#=Pluralize(viewModelName)#>.SingleOrDefault(d => d.Id == id);
			if (existingViewModel == null)
			{
				return Task.FromResult(false);
			}

			<#=Pluralize(viewModelName)#>.Remove(existingViewModel);
            return Task.FromResult(true);
        }
<#}
#>
    }
}